<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".x3d" mimeType="model/x3d+xml" />
			<mimeMap fileExtension=".stp" mimeType="application/step" />
			<mimeMap fileExtension=".step" mimeType="application/step" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
