{%- extends "base.html" %} {% block title %}submit{% endblock %} {% block head %}
<script>
	$(function () {
		$(document).on('change', ':file', function () {
			var input = $(this),
				numFiles = input.get(0).files ? input.get(0).files.length : 1,
				label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [numFiles, label]);
		});
		$(document).ready(function () {
			$(':file').on('fileselect', function (event, numFiles, label) {
				var input = $(this).parents('.input-group').find(':text'),
					log = numFiles > 1 ? numFiles + ' files selected' : label;
				input.val(log);
			});
		});
	});

</script>

{%endblock%} {% block content %}




	<form action="upload" method="post" enctype="multipart/form-data">
		
			<h1>Input</h1>
			<div class="input-group">
				<label class="input-group-btn">
					<span class="btn btn-secondary">
    				Browse&hellip; <input type="file" name="fileToUpload" style="display: none;" multiple>
					</span>
				</label>
				<input type="text" class="form-control" readonly placeholder="Input File">
			</div>

			<br>
			
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Density" maxlength="50"> <!-- add name="Density"-->
				<span class="input-group-addon">kg/m<sup>3</sup></span>
			</div>

			<br>
			
			<label class="btn btn-secondary">
				Upload<input type="submit" name="submit" style="display: none;">
			</label>
		
	</form>


<div class="row">
	<div class="jumbletron">
		<h1>Display for 3d images</h1>
	</div>
</div>

{% endblock %}